@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'),
       url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'),
       url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v14-latin-700.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'),
       url('../fonts/montserrat-v14-latin-700.ttf') format('truetype'),
       url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v11-latin-regular.eot');
  src: local(''),
       url('../fonts/roboto-slab-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'),
       url('../fonts/roboto-slab-v11-latin-regular.ttf') format('truetype'),
       url('../fonts/roboto-slab-v11-latin-regular.svg#RobotoSlab') format('svg');
}

@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pinyon-script-v10-latin-regular.eot');
  src: local('Pinyon Script'), local('PinyonScript'),
       url('../fonts/pinyon-script-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pinyon-script-v10-latin-regular.woff2') format('woff2'),
       url('../fonts/pinyon-script-v10-latin-regular.woff') format('woff'),
       url('../fonts/pinyon-script-v10-latin-regular.ttf') format('truetype'),
       url('../fonts/pinyon-script-v10-latin-regular.svg#PinyonScript') format('svg');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/playfair-display-v20-latin-italic.eot');
  src: local(''),
       url('../fonts/playfair-display-v20-latin-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfair-display-v20-latin-italic.woff2') format('woff2'),
       url('../fonts/playfair-display-v20-latin-italic.woff') format('woff'),
       url('../fonts/playfair-display-v20-latin-italic.ttf') format('truetype'),
       url('../fonts/playfair-display-v20-latin-italic.svg#PlayfairDisplay') format('svg');
}